**/__pycache__/
**/.cache/
venv/
**/.vscode/
MMCT/**/*.ipynb
**/mmct_image_pipeline.egg-info/
MMCT/UI/uploaded_image.jpeg
**/media/
**/images/
sample.py
mmct_pipeline.egg-info
sample_video.py
uploads/
logs/
temp/
uploaded_videos/
output.gif
*.log
*.pt
*.env
*.mp4
*.mp3
*.txt
*.wav